#navbar{
    text-align:center;
}

#navbar li{
    display:inline-block;
    border: 10px red;
    padding:10px;
    
}

#nabbar a{
    color:red;
    display:inline;
}

#navbar{
    font: 50px font-size;
    display:inline;
    float:left;
    font-size:200%;
}

#navbar a{
    color:blue;
}

#navbar li{
    background-color:green;
}
  
  
 

